<head>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Function Calculator</h1>
  <form action="/calculate" method="post">
    <p>
      <label>F(x)</label>
      <input name="statement" placeholder="Your mathematical function" value="integrate(2*x)"></statement>
    </p>
    <p>
      <label>X</label>
      <input name="x" placeholder="Your data" value="[-2, -1, 0, 1, 2, 3]"></statement>
    </p>
    <p>
      <button name="submit">Calculate</button>
    </p>
  </form>
</body>
