.cw-monospaced {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
textarea.cw-textarea {
  resize: none;
  height: 20em;
}
