<form class="form" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" id="user" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="user" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button class="btn btn-default">Register</button>
</form>
