<div style="margin-bottom:1em">
  <a class="btn btn-default" href="/data/<%= cckState.schemaName %>">Back</a>
</div>
<% for (let fieldName of cckState.fieldNames) { %>
  <div class="form-group row">
    <label class="col-form-label col-sm-2"><%= cckState.schema.fields[fieldName].caption %></label>
    <div class="col-sm-10">
      <%- presentation[fieldName] %>
    </div>
  </div>
<% } %>
