<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<title><%= config.title %></title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<% if (config.bootstrapTheme) { %>
  <link rel="stylesheet" href="/css/themes/<%= config.bootstrapTheme %>.min.css" />
<% } %>
<link rel="stylesheet" href="/css/style.css" />
